In [1]:
import pandas as pd
import numpy as np

In [9]:
import re
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()
from nltk.corpus import stopwords
import string
stopword = stopwords.words("english")

In [3]:
df = pd.read_csv("Data/Mental-Health-Twitter.csv")
df.head()

,Unnamed: 0,post_id,post_created,post_text,user_id,followers,friends,favourites,statuses,retweets,label
0,0,637894677824413696,Sun Aug 30 07:48:37 +0000 2015,It's just over 2 years since I was diagnosed w...,1013187241,84,211,251,837,0,1
1,1,637890384576778240,Sun Aug 30 07:31:33 +0000 2015,"It's Sunday, I need a break, so I'm planning t...",1013187241,84,211,251,837,1,1
2,2,637749345908051968,Sat Aug 29 22:11:07 +0000 2015,Awake but tired. I need to sleep but my brain ...,1013187241,84,211,251,837,0,1
3,3,637696421077123073,Sat Aug 29 18:40:49 +0000 2015,RT @SewHQ: #Retro bears make perfect gifts and...,1013187241,84,211,251,837,2,1
4,4,637696327485366272,Sat Aug 29 18:40:26 +0000 2015,It’s hard to say whether packing lists are mak...,1013187241,84,211,251,837,1,1

In [4]:
df = df[['post_text', 'label']]

In [5]:
df

                                               post_text  label
0      It's just over 2 years since I was diagnosed w...      1
1      It's Sunday, I need a break, so I'm planning t...      1
2      Awake but tired. I need to sleep but my brain ...      1
3      RT @SewHQ: #Retro bears make perfect gifts and...      1
4      It’s hard to say whether packing lists are mak...      1
...                                                  ...    ...
19995              A day without sunshine is like night.      0
19996  Boren's Laws: (1) When in charge, ponder. (2) ...      0
19997  The flow chart is a most thoroughly oversold p...      0
19998  Ships are safe in harbor, but they were never ...      0
19999     Black holes are where God is dividing by zero.      0

[20000 rows x 2 columns]

In [7]:
df['label'].unique()

array([1, 0], dtype=int64)

In [8]:
df['label'].replace((0,1), ['Sentence found to be Depressed', 'Not Depressed'], inplace = True)
df

,post_text,label
0,It's just over 2 years since I was diagnosed w...,Not Depressed
1,"It's Sunday, I need a break, so I'm planning t...",Not Depressed
2,Awake but tired. I need to sleep but my brain ...,Not Depressed
3,RT @SewHQ: #Retro bears make perfect gifts and...,Not Depressed
4,It’s hard to say whether packing lists are mak...,Not Depressed
...,...,...
19995,A day without sunshine is like night.,Sentence found to be Depressed
19996,"Boren's Laws: (1) When in charge, ponder. (2) ...",Sentence found to be Depressed
19997,The flow chart is a most thoroughly oversold p...,Sentence found to be Depressed
19998,"Ships are safe in harbor, but they were never ...",Sentence found to be Depressed
19999,Black holes are where God is dividing by zero.,Sentence found to be Depressed

In [10]:
def clean(text):
    text = text.lower()
    text = re.sub(r"(@\[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?|(\n)|(\w*\d\w*)", "", text)
    text = re.sub(r'[^\w\s]', '', text)
    text = [word for word in text.split(' ') if word not in (stopword)]
    text = " ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text = " ".join(text)
    return text
df['post_text'] = df['post_text'].apply(clean)
df.head()

                                           post_text          label
0   year sinc diagnos anxieti depress today im ta...  Not Depressed
1  sunday need break im plan spend littl time pos...  Not Depressed
2                    awak tire need sleep brain idea  Not Depressed
3   sewhq retro bear make perfect gift great begi...  Not Depressed
4  hard say whether pack list make life easier re...  Not Depressed

In [15]:
import googletrans
print('hi' in googletrans.LANGUAGES)

True

In [21]:
df.to_csv("Data/final.csv")

In [ ]:
import csv
from translate import Translator

def translate_csv(input_file, output_file):
    with open(input_file, 'r') as f:
            reader = csv.reader(f)
            data = list(reader)
        
    translator = Translator(to_lang="hi")

    translated_data = []
    for row in data:
        translated_row = []
        for cell in row:
            try:
                translated_cell = translator.translate(cell)
                translated_row.append(translated_cell)
            except StopIteration:
                print(f"Error translating text: {cell}")
        translated_data.append(translated_row)

    with open(output_file, 'w') as f1:
        writer = csv.writer(f1)
        writer.writerows(translated_data)

input_file = "Data/final.csv"     #input_file = df
output_file = "/content/drive/MyDrive/depression/dep_hindi1.csv"
translate_csv(input_file, output_file)